asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-bootstrap5
django-crispy-forms
django-environ
filelock
Pillow
platformdirs
psycopg2
psycopg2-binary
python-dotenv
setuptools
sqlparse
typing_extensions
tzdata
virtualenv
virtualenvwrapper-win